name: CI Pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Клонирование репозитория
        uses: actions/checkout@v4

      - name: Установка Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      
      - name: Обновление pip, загрузка зависимостей и отдельно flake
        run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            pip install flake8

      - name: Тестирование
        run: |
          pytest -v
